@{
    ViewData["Title"] = "Bokning klar";
}


<div style="display:flex; justify-content:center; align-items:center; flex-direction:column; text-align:center; padding:80px 0;">
    <h2 style="margin-bottom:10px;">Bokningen lyckades!</h2>
    <p style="margin-bottom:20px;">Ditt grupprum är bokat.</p>

    <a asp-controller="Rooms" asp-action="MinaBokningar" class="btn btn-primary">
        Se mina bokningar
    </a>

</div>