
/* FÄRGPALETT sätter standardfärger! dessa går att justera! */
:root  {
  --color-text: #ffffff; /* textfärg */
  --color-bg: #E9E3E3; /* bakgrundsfärg */
  --color-theme: #EAB5B5; /* färg på navbar, övre, kan va bra att återanvända */
  --color-theme2: #DEAB7F; /* färg på navbar, övre, kan va bra att återanvända */
  
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* responsivitet */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  font-size: 14px;
  /*font-family: "Roboto Light", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  background-color: var(--color-bg);
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
.navbar, .navbarTop, .navbarBottom {
  width: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* gömmer hamburgarknapp vid normalskärm */
.hamburgerButton {
  display: none;
}
#navbar {
  display: flex;
}

.navbar {
  width: 100%;
}

.navbarTop {
/*  border: 2px solid black;*/
  height: 50px;
  color: black;
  background-color: var(--color-theme2);
  display: flex;
  align-items: center;
}
.navbarTop h2 {
  text-transform: uppercase; /* gör bokstäverna stora */
  text-align: center;
  margin: 0 auto; /* centrerar texten*/
}

.navbarBottom {
  border-bottom: 1px solid black;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbarImg {
  height: 66px;
  width: auto;
  box-sizing: border-box;
  object-fit: contain;
  position: relative;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit; /* tar bort den blå/lila färgen efter man varit inne på den */
}

nav ul {
  /*all: unset;  betyder att alla tidigare egenskaper tas bort! */

  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: auto;
  max-width: 100%;
  
  font-size: clamp(15px, 25px, 30px);
  font-weight: lighter;
  list-style-type: none;
  
  margin: 0;
  padding: 0;
  
}

li:active {
  color: var(--color-theme2);
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: black;
}

/*----------------------------------------------------------------*/
/* effekter för underline vid vald länk och hover */
/* underline effekt */
nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: var(--color-theme2);
  transition: width 0.3s ease;
}
nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}
nav ul li a.active {
  color: black;
}
/*----------------------------------------------------------------*/

/* Allt innehåll på sidorna hamnar här inne!!! */
.container {
  min-height: 0;
  margin: 25px 50px 0;
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  height: auto;
  max-height: 80px;
  border-top: 1px solid black;
  background-color: whitesmoke;
}

a:hover, button:hover {
  cursor: pointer;
}

/* telefon-vänlig */
@media (max-width: 650px) {
  
  .navbarImg {
    height: 50px;
  }
  
  .navActions {
    position: relative;
    display: flex;
    align-items: center;
  }

  /* synlig hamburgarmeny*/
  .hamburgerButton {
    all: unset;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    color: black;
    position: relative;
  }
  .hamburgerButton::after {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 8px;
    right: 8px;
    height: 2px;
    background: var(--color-theme2);
    
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s cubic-bezier(.68,-0.55,.27,1.55); /* testning */
  }
  .hamburgerButton.is-open::after {
    transform: scaleX(1);
  }
  .hamburgerButton svg {
    height: 34px;
    width: 34px;
    display: block;
    transition: transform 0.3s ease;
    transform-origin: center;
    fill: currentColor;
  }
  .hamburgerButton.is-open svg {
    transform: rotate(90deg);
  }
  
  /* dropdown, gömd från start */
  #navbarList {
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    
    min-width: 200px;
    background: whitesmoke;
    border: none;
    
    display: flex;
    flex-direction: column;
    
    margin: 0;
    padding: 8px 0;
    
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 999;
  }

  /* öppnad dropdown meny */
  #navbarList.is-open {
    max-height: 400px; /* kan ändras beroende på om de blir fler länkar*/
  }
  #navbarList li {
    padding: 10px 16px;
  }
  #navbarList li a {
    font-size: 18px;
  }
  nav ul {
    border: none;
  }
}