@{
    ViewData["Title"] = "Hem";
}

@* kod för att hämta in css filen *@
@section Styles {
    <link rel="stylesheet" href="~/css/homepage.css"/>
}

@* unikt innehåll per sida!*@
@*<div class="landpage">
    <div class="landPageText">
        <h1>Välkommen till BookSearch</h1>
        <p>Hitta böcker. Upptäck nya världar.™</p>        
    </div>
    <img src="images/HomepageLibrary.jpg"/>
</div>*@
@if (User.Identity != null && !User.Identity.IsAuthenticated)
{
    <h1 style="text-align: center; font-size: 4em; margin-bottom: 0; text-decoration: underline 4px solid var(--color-theme2); text-underline-offset: 5px">Välkommen till BookSearch</h1>    
}
else
{
    <h1 style="text-align: center; font-size: 4em; margin-bottom: 0; text-decoration: underline 4px solid var(--color-theme2); text-underline-offset: 5px">Välkommen @(User.Identity?.Name)</h1>
}

<div class="landingPage">
    <h1>Hitta böcker. Upptäck nya världar.™</h1>
    <img src="images/books2.png"/>
    
    @if (User.Identity != null && !User.Identity.IsAuthenticated)
    {
        <p>Välkommen att utforska vårat bibliotek. Just nu besöker du sidan som gäst, vänligen <strong>logga in</strong> för åtkomst till fler funktioner.</p>
        <div class="landingPageButtons">
            <a asp-controller="Account" asp-action="Login">Logga in</a>
            <a asp-controller="BookLibrary" asp-action="Index">Bibliotek</a>
        </div>        
    }
    else if (User.IsInRole("Admin"))
    {
        <p>Välkommen <strong>@(User.Identity?.Name)</strong>. Du har administratör-status och kan se över admin dashboard på knappen nedan.<br/>Du kan även hantera konton, böcker och bokningar av grupprum.</p>
        <div class="landingPageButtons">
            <a asp-controller="Admin" asp-action="Index" style="border-radius: 15px; border: 2px solid var(--color-theme2);">Admin dashboard</a>
        </div>
    }
    else
    {
        <p>Välkommen till BookSearch <strong>@(User.Identity?.Name)</strong>. Se över dina lån eller bokningar enkelt. Du kan även reservera en bok i förväg eller bara bläddra igenom vårt stora utbud.</p>
        <div class="landingPageButtons">
            <a asp-controller="BookLoan" asp-action="Index">Mina lån</a>
            <a asp-controller="Rooms" asp-action="MinaBokningar">Mina bokningar</a>
        </div>
    }
</div>
<hr style="border: none; height: 1px; background-color: var(--color-theme2); margin-top: 50px;">
<div class="previewBox">
    <section class="previewBoxLeft">
        <img class="previewBoxImg" src="~/images/librarypicture.png" alt="bibliotek"/>
    </section>
    <section class="previewBoxRight">
        <h1>Upptäck ditt nästa äventyr</h1>
        <p class="previewBoxRightP">
            Välkommen till en plats där berättelser väntar på att bli upptäckta. I vårt bibliotek kan du utforska allt från spännande romaner och klassiska mästerverk till faktaböcker, biografier och inspirerande litteratur inom alla tänkbara ämnen. Oavsett om du söker kunskap, underhållning eller en stunds avkoppling finns det alltid något nytt att hitta bland våra hyllor. Bläddra bland titlar, hitta dina favoriter och hyr böcker enkelt och smidigt – allt för att göra din läsupplevelse så tillgänglig och inspirerande som möjligt.
        </p>
        <a class="previewBtn" id="previewBtn" asp-controller="BookLibrary" asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M440-278v-394q-41-24-87-36t-93-12q-36 0-71.5 7T120-692v396q35-12 69.5-18t70.5-6q47 0 91.5 10.5T440-278Zm40 118q-48-38-104-59t-116-21q-42 0-82.5 11T100-198q-21 11-40.5-1T40-234v-482q0-11 5.5-21T62-752q46-24 96-36t102-12q74 0 126 17t112 52q11 6 16.5 14t5.5 21v418q44-21 88.5-31.5T700-320q36 0 70.5 6t69.5 18v-481q15 5 29.5 11t28.5 14q11 5 16.5 15t5.5 21v482q0 23-19.5 35t-40.5 1q-37-20-77.5-31T700-240q-60 0-116 21t-104 59Zm140-240v-440l120-40v440l-120 40Zm-340-99Z"/></svg>
            <p>UTFORSKA BIBLIOTEK</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"/></svg>
        </a>
    </section>
</div>
<div class="quoteBox">
    <h1>“The mystery of human existence lies not in just staying alive, but in finding something to live for.”</h1>
    <p>-Fjodor Dostojevskij</p>
</div>
<div class="previewBox">
    <section class="previewBoxLeft">
        <img class="previewBoxImg" src="~/images/grouproompicture.png" alt="bibliotek"/>
    </section>
    <section class="previewBoxRight">
        <h1>Boka ett grupprum och plugga smart</h1>
        <p class="previewBoxRightP">
            Behöver ni en lugn plats för grupparbete, tentaplugg eller ett snabbt projektmöte? På biblioteket kan du enkelt boka grupprum som är tillgängliga när du behöver dem. Välj tid som passar, se lediga rum direkt och säkra din bokning på några klick. Perfekt när ni vill kunna fokusera, snacka igenom uppgifter och få saker gjorda – utan att störa (eller bli störda).
        </p>
        <a class="previewBtn" id="previewBtn" asp-controller="Rooms" asp-action="BokaGrupprum">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M440-278v-394q-41-24-87-36t-93-12q-36 0-71.5 7T120-692v396q35-12 69.5-18t70.5-6q47 0 91.5 10.5T440-278Zm40 118q-48-38-104-59t-116-21q-42 0-82.5 11T100-198q-21 11-40.5-1T40-234v-482q0-11 5.5-21T62-752q46-24 96-36t102-12q74 0 126 17t112 52q11 6 16.5 14t5.5 21v418q44-21 88.5-31.5T700-320q36 0 70.5 6t69.5 18v-481q15 5 29.5 11t28.5 14q11 5 16.5 15t5.5 21v482q0 23-19.5 35t-40.5 1q-37-20-77.5-31T700-240q-60 0-116 21t-104 59Zm140-240v-440l120-40v440l-120 40Zm-340-99Z"/></svg>
            <p>BOKA GRUPPRUM</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"/></svg>
        </a>
    </section>
</div>
<div class="quoteBox">
    <h1>“There is no charm equal to tenderness of heart.”</h1>
    <br/>
    <p>-Jane Austen</p>
</div>